{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	
	{% block extrahead %}
		<meta charset="UTF-8">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

		<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/estilos.css' %}"  media="screen,projection"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% endblock %}

	

	<title>{% block title %} Document {% endblock %}</title>
</head>
<body>
	<header>
		{% block navbar %}
			{% include 'base/navbar.html' %}
		{% endblock%}	
	</header>

	{% block paralax1 %}
		{% include 'contenido/paralax1.html' %}
	{% endblock %}

	{% block home %}
		{% include 'contenido/home.html' %}
	{% endblock%}

	<div class="container">
		<div class="row">
		    <div class="col s12 m12 l12">
		   		{% block content %}
					{% include 'contenido/sobremi.html' %}
					{% include 'contenido/habilidades.html' %}				
				{% endblock%}         
		    </div>  
		</div>
	</div>

	{% block paralax2 %}
		{% include 'contenido/paralax2.html' %}
	{% endblock %}

	<div class="container">
		<div class="row">
		    <div class="col s12 m12 l12">
		   		{% block content %}
					{% include 'contenido/portafolio.html' %}
					{% include 'contenido/formacion.html' %}				
				{% endblock%}         
		    </div>  
		</div>
	</div>					

	{% block footer %}
		{% include 'base/footer.html' %}
	{% endblock %}	
	
	{% block extrajs %}
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{% static 'js/materialize.min.js'%}"></script>
		<script src="{% static 'js/main.js'%}"></script>
		<script  src = "https://unpkg.com/ionicons@4.5.5/dist/ionicons.js" ></script >
	{% endblock %}

</body>
</html>