{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	
	{% block extrahead %}
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% endblock %}

	<title>{% block title %} Document {% endblock %}</title>
</head>
<body>
	<header>
		{% block navbar %}
			{% include 'base/navbar.html' %}
		{% endblock%}	
	</header>

<div class="row">
    <div class="col s12 m9 l10">
   		{% block content %}
			{% include 'contenido/home.html' %}
			{% include 'contenido/sobremi.html' %}
			{% include 'contenido/habilidades.html' %}
			{% include 'contenido/portafolio.html' %}
			{% include 'contenido/formacion.html' %}
		{% endblock%}         
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#sobremi">Sobre mi</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#portafolio">Portafolio</a></li>
      </ul>
    </div>
  </div>	
</div>

	{% block footer %}
		{% include 'base/footer.html' %}
	{% endblock %}	
	
	{% block extrajs %}

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/materialize.min.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>

	{% endblock %}

</body>
</html>