{% load staticfiles %}
{% block navbar %}
<div class="menu z-depth-5">
    <nav>
        <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
                    
            
            <li class="waves-effect waves-purple waves-effect waves-block waves-light"><a href="#home">Home</a></li>
            
            <li class="waves-effect waves-orange waves-effect waves-block waves-light"><a href="#sobremi">Sobre mi</a></li>
            
            <li class="waves-effect waves-yellow waves-effect waves-block waves-light"><a href="#skills">Skills</a></li>
        
            <li class="waves-effect waves-red waves-effect waves-block waves-light"><a href="#proyectos">Proyectos</a></li>
            
            <li class="waves-effect waves-teal waves-effect waves-block waves-light"><a href="#experiencia">Experiencia</a></li>
            
            <li class="waves-effect waves-blue waves-effect waves-block waves-light"><a href="#contacto">Contacto</a></li>                    
        </ul>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                  <div class="background">
                    <img src="{% static 'imagenes/paralax4.jpg' %}">
                  </div>
                  <a href="#user"><img class="circle" src="{% static 'imagenes/yo3.jpg' %}"></a>
                  <a href="#name"><span class="white-text name">David Palma Lugo</span></a>
                  <a href="#email"><span class="white-text email">davidpalmalugo@gmail.com</span></a>
                </div>
            </li>
            <li><a href="#home"><i class="material-icons">home</i>Home</a></li>
            <li><a href="#sobremi"><i class="material-icons">face</i>Sobre mi</a></li>
            <li><a href="#skills"><i class="material-icons">code</i>Skills</a></li>
            <li><a href="#proyectos"><i class="material-icons">laptop_mac</i>Proyectos</a></li>
            <li><a href="#experiencia"><i class="material-icons">card_travel</i>Experiencias</a></li>
            <li><a href="#contacto"><i class="material-icons">call</i>Contacto</a></li>
            
            <li><div class="divider"></div></li>
        <!--    <li><a class="subheader">Redes</a></li> -->                                    
        </ul>
    </div>
    </nav>
</div>
{% endblock %}
