
{% block navbar %}
<div class="menu-fixed z-depth-2">
    <nav>
        <div class="nav-wrapper grey darken-3">
            
            <div class="container-nav">    
                <ul class="left">      
                    <li><a href="https://www.facebook.com/davidjesus.palma" target="_blank"><i class="icon ion-logo-facebook"></i></a></li>

                    <li><a href="https://twitter.com/davidpalmalugo" target="_blank"><i class="icon ion-logo-twitter"></i></a></li>

                    <li><a href="https://www.instagram.com/david_palma07/" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>

                    <li><a href="https://github.com/Tekorita" target="_blank"><i class="icon ion-logo-github"></i></a></li>

                    <li><a href="https://www.linkedin.com/in/david-palma-lugo-b53388105/" target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>
                </ul>              
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#sobremi">Sobre mi</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#portafolio">Portafolio</a></li>
                    <li><a href="#formacion">Formación</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#sobremi">Sobre mi</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#portafolio">Portafolio</a></li>
                    <li><a href="#formacion">Formación</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}
