{% load staticfiles %}
{% block content %}
<div id="formacion" class="section scrollspy">
	<div class="container-fluid white-text">
		<div class="row">
			<div class="col s12 m12 l12">		    		
	    		<div class="col s12 m12 l12 center">
					<img class="responsive-img" src="{% static 'imagenes/formacion1.png'%}">
				</div>		    		
		        <div class="col s12 m6 l6">
				    <h4>Técnico Superior en Informática</h4>  
				        <p>
				        	INSTITUTO UNIVERSITARIO DE TECNOLOGÍA DR FEDERICO RIVERO PALACIO IUTE, CARACAS VENEZUELA (2008-2011)
				        </p>
				</div>
				<div class="col s12 m6 l6">
				    <h4>Ingeniería en Informática</h4>    
				        <p>
				        	INSTITUTO UNIVERSITARIO DE TECNOLOGÍA DR FEDERICO RIVERO PALACIO IUTE, CARACAS VENEZUELA (2011-2014)
				        </p>
				</div>
	    	</div>    
		</div>
	</div>  
</div>
{% endblock %}