{% load static %}
{% block content %}
<div id="experiencia" class="section scrollspy">
	<div class="container-fluid white-text">
		<div class="row">
			<div class="col s12">
                <h1 class="center white-text">Experiencia</h1>
                <br>        
                <p class="center white-text wow fadeIn aumenta" data-wow-duration="1.4s" data-wow-delay="0.2s">            
                    Aquí comparto mi experiencia laboral, destacando en las habilidades que he desarrollado a lo largo de los años. Cada puesto ha sido una oportunidad de aprendizaje y crecimiento, permitiéndome enfrentar nuevos desafíos y fortalecer mis conocimientos en tecnología. 🚀                        
                </p>
                <br>
            </div>
			<div class="col s12 m12 l12 wow bounceInUp" data-wow-duration="1.4s">
				<div class="col s12 m6 l6 center wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.1s">
					<h5 class="white-text center">Experiencia laboral en Chile</h5><br>    
					<img class="responsive-img circle z-depth-5 logo-pais" src="{% static 'imagenes/cl.png'%}">
				</div>		    				    		
				<div class="col s12 m6 l6" data-wow-duration="1.4s">
					<ul class="collapsible accordion custom-collapsible">
						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Abaqus - Av. Isidora Goyenechea 3477, Oficina 70B, Las Condes (11/2021 - 09/2024)</h6><i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li><h6>- Programador Full stack, desarrollador a cargo de proyecto para gestion de fichas comerciales de fondos mutuos en AGF de Banco de Chile y Banco Estado</h6></li>
									</ul>
								</span>
							</div>
						</li>

						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Techk cl - Badajoz 45, Las Condes (07/2019 - 11/2021)</h6><i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li><h6>-Programador Full stack, miembro de equipo de scraping de portales b2b y procesamientos de archivos de ventas y stock</h6></li>
									</ul>
								</span>
							</div>
						</li>

						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Beeinfluencer.cl - Av el Coihue 4117 Vitacura (05/2019 - 07/2019)</h6><i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li><h6>- Programador Fronted, prácticante</h6></li>
									</ul>
								</span>
							</div>
						</li>
					
					</ul>
				</div>
			</div>
			<div class="col s12 m12 l12 wow bounceInUp" data-wow-duration="1.4s">
				<div class="col s12 m6 l6 center wow bounceInUp" data-wow-duration="1.4s">
					<h5 class="white-text center">Experiencia laboral en Perú</h5><br>    
					<img class="responsive-img circle z-depth-5 logo-pais" src="{% static 'imagenes/peru.png'%}">
				</div>		    				    		
				<div class="col s12 m6 l6 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.1s">
					<ul class="collapsible accordio custom-collapsible">
						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Visitec Solutions S.A.C Av Venezuela 915 con av arica (12/2017 - 02/2018)</h6><i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li><h6>- Programador backend en python, miembro de equipo de desarrollo donde realizaba fixes de bugs en Api de inventarios</h6></li>
									</ul>
								</span>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Inkafarma, Calle villareal 412 Miraflores (11/2018 - 12/2018)</h6><i class="material-icons right">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li><h6>- Diseño y desarrollo de sistema para el control de delivery</h6></li>
									</ul>	
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col s12 m12 l12 wow bounceInUp" data-wow-duration="1.4s"">		    			    		
				<div class="col s12 m6 l6 center wow bounceInUp" data-wow-duration="1.4s">
						<h5 class="white-text center">Experiencia laboral en Venezuela</h5><br>    
    					<img class="responsive-img circle z-depth-5 logo-pais" src="{% static 'imagenes/vzla.png'%}">
    			</div>		
		        <div class="col s12 m6 l6 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.1s">
		        	
				    <ul class="collapsible accordion custom-collapsible">
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Clínica Rescarven Imagenes para la vida C.A. Caracas Venezuela (2012-2017)</h6><i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
					      			<ul>
					      				<li><h6>- Analista de sistema.</h6></li>
					      				<li><h6>- Administrador de redes y base de datos.</h6></li>
					      				<li><h6>- Soporte técnico.</h6></li>
					      			</ul>	
					      		</span>
					      	</div>
					    </li>
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Clínica rescarven en Centro Imagen Chuao c.a. Caracas Venezuela (2010-2017)</h6><i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
									<ul>
										<li><h6>- Desarrollador de sistema de gestión de citas en departamento de radiología.</h6></li>
										<li><h6>- Desarrollador de sistema de proceso de transcripción para informes médicos.</h6></li>
										<li><h6>- Administrador de base de datos, red y técnico en soporte para los equipos.</h6></li>
									</ul>	
					      		</span>
					      	</div>
					    </li>
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Xirox systems C.A. Caracas Venezuela (2012-2017)</h6><i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
					      			<ul>
					      				<li><h6>- Programador Web Fronted/Backend.</h6></li>
					      				<li><h6>- Analista y programador en visual basic.</h6></li>
					      				<li><h6>- Administrador de redes y base de datos.</h6></li>
					      				<li><h6>- Servicios de soporte técnico.</h6></li>
					      				<li><h6>- Vendedor de equipos de Informática.</h6></li>
					      			</ul>	
					      		</span>
					      	</div>
					    </li>
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i><h6>Consultorio médico Centro Uslar C.A Clínica Rescarven(2014-2015)</h6><i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
					      			<ul>
					      				<li><h6>- Desarrollo de sistema para el control de citas del consultorio.</h6></li>
					      			</ul>
					      		</span>
					      	</div>
					    </li>
					</ul>
				</div>
										    	
	    	</div>


			<br><br>

	    </div>    
	</div>
</div>  
{% endblock %}