{% load staticfiles %}
{% block content %}
	<div id="home" class="section scrollspy">		
		<div class ="container">
			<div class ="row">
				<div class="col s12 m6 l6">
    				<img class="responsive-img circle z-depth-5" src="{% static 'imagenes/yo3.jpg'%}">
    			</div>
    			<div class="col s12 m6 l6">
    				<img class="responsive-img" src="{% static 'imagenes/logo2.png'%}">
    				<a class="waves-effect waves-light btn-large pulse purple darken-4 z-depth-5" href="#proyectos">Ver mis Proyectos</a>
    				<h4 class="white-text"><strong><spam class ="red-text">print</spam><spam class="white-text">(</spam><spam class="yellow-text">"Hello world"</spam><spam class="white-text">)</spam> Soy Programador Web y
    					<a href="#" class="typewrite" data-period="2000" data-type='["Diseñador en Fronted", "Programador en Backend.", "Me encanta el diseño Flat.", "soy autodidacta", "amo los perros" ]'></a></strong>
    				</h4>

    			</div>	    			
    		</div>	    	
	    </div> 
	</div>
{% endblock %}