{% load static %}
{% block content %}
	<div id="home" class="section-customer scrollspy position-relative">		
		<div class ="container">
			<div class ="row">
				<div class="col s12 m6 l6">
					<!-- Imagen original (para pantallas grandes) -->
					<img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-perfil" src="{% static 'imagenes/yo3.jpg' %}">
				</div>
				<div class="col s12 m6 l6 spacing" style="padding-bottom: 100px;">
					<img class="responsive-img animated bounceIn delay-2s custom-img-spacing" src="{% static 'imagenes/logo2.png'%}">
					<!-- <a class="waves-effect waves-light btn-large pulse purple darken-4 z-depth-5 animated zoomIn delay-2s custom-margin-tag-a" href="#proyectos">Ver mis Proyectos</a> -->
					<div class="custom-spacing">
						<h2 class="white-text animated zoomIn delay-2s"><strong><spam class ="red-text">print</spam><spam class="white-text">(</spam><spam class="yellow-text">"Hello world"</spam><spam class="white-text">)</spam> Soy Programador Web
							<a href="#" class="typewrite" data-period="2000" data-type='["y estudiante de Platzi.","en Backend y Fronted.", "y me encanta el diseño Flat.", "y autodidacta", "me encantan los gatos." ]'></a></strong>
						</h2>
					</div>
				</div>			
    		</div>	    	
	    </div> 
		<div class="col s12 m12 l12 bounce-align animated bounceInDown delay-3s">
			<div class="encircle bounce animated">
				<div class="arrow"></div>
			</div>
		</div>		
	</div>
{% endblock %}