{% load staticfiles %}
{% block content %}
	<div id="home" class="section scrollspy">		
			<div class ="container">
				<div class ="row">
					<div class="col s12 m6 l6">
	    				<img class="responsive-img circle z-depth-5" src="{% static 'imagenes/yo3.jpg'%}">
	    			</div>
	    			<div class="col s12 m6 l6">
	    				<img class="responsive-img" src="{% static 'imagenes/logo2.png'%}">
	    				<a class="waves-effect waves-light btn-large pulse purple darken-4 z-depth-5" href="#portafolio">Ver mis trabajos</a>
	    				<h4 class ="white-text"><strong>Sy Programador Web y
	    					<a href="#" class="typewrite" data-period="2000" data-type='["Web Developer.", "Web Designer.", "Tech Lover." ]'></a></strong>
	    				</h4>

	    			</div>	    			
	    		</div>
	    	
	    </div> 
	</div>
{% endblock %}