{% load static %}
{% block content %}
	<div class="parallax-window2" data-parallax="scroll" data-bleed="10" data-speed="0.1" data-image-src="{% static 'imagenes/paralax_last.jpg' %}">
		<div class= "contenedor-refran">
			<div class ="container center-align">							
				<h3 class="white-text"><strong>Quizás no sea un genio ni 
					<a href="#" class="typewrite" data-period="2000" data-type='["el mejor programador del mundo", "Steve Wosniak", "El gran Thanos" ]'></a> pero...</strong>
				</h3>
				<h2 class="white-text"><strong>ME APASIONA LO QUE HAGO!<strong></h2>
			</div>
    	</div>	    	
	</div>
	
{% endblock %}
