{% load staticfiles %}
{% block content %}
<div id="portafolio" class="section scrollspy">  
    <div class="container-fluid">
		<div class="row">
			<div class="col s12 m12 l12 center">
				<img class="responsive-img" src="{% static 'imagenes/portafolio1.png'%}">
			</div>	
			<div class="col s12 m6 l6">
			    <div class="card">
			    		<div class="card-image waves-effect waves-block waves-light">
			      			<img class="activator" src="{% static 'imagenes/porta1.png'%}">
			    		</div>
			    	<div class="card-content">
			      		<span class="card-title activator grey-text text-darken-4">Contexto Social<i class="material-icons right">more_vert</i></span>
			      		<p><a target="_blank" href="https://contextosocial.github.io/">https://contextosocial.github.io/</a></p>
			    	</div>
			    	<div class="card-reveal">
			      		<span class="card-title grey-text text-darken-4">Contexto Social<i class="material-icons right">close</i></span>
			      		<p>Here is some more information about this product that is only revealed once clicked on.</p>
			    	</div>
			  	</div>
			</div>
			<div class="col s12 m6 l6">
			    <div class="card">
			    		<div class="card-image waves-effect waves-block waves-light">
			      			<img class="activator" src="{% static 'imagenes/portafolio3.png'%}">
			    		</div>
			    	<div class="card-content">
			      		<span class="card-title activator grey-text text-darken-4">Control para refugio<i class="material-icons right">more_vert</i></span>
			      		<p><a target="_blank" href="https://github.com/Tekorita/refugio">https://github.com/Tekorita/refugio</a></p>
			    	</div>
			    	<div class="card-reveal">
			      		<span class="card-title grey-text text-darken-4">Control para refugio de animales<i class="material-icons right">close</i></span>
			      		<p>Here is some more information about this product that is only revealed once clicked on.</p>
			    	</div>
			  	</div>
			</div>
			<div class="col s12 m6 l6">
			    <div class="card">
			    		<div class="card-image waves-effect waves-block waves-light">
			      			<img class="activator" src="{% static 'imagenes/porta2.png'%}">
			    		</div>
			    	<div class="card-content">
			      		<span class="card-title activator grey-text text-darken-4">Fusion urbana 4 esquinas<i class="material-icons right">more_vert</i></span>
			      		<p><a target="_blank" href="https://fusionurbana4esquina.wixsite.com/fuce">https://fusionurbana4esquina.wixsite</a></p>
			    	</div>
			    	<div class="card-reveal">
			      		<span class="card-title grey-text text-darken-4">Fusion Urbana 4 esquinas<i class="material-icons right">close</i></span>
			      		<p>Here is some more information about this product that is only revealed once clicked on.</p>
			    	</div>
			  	</div>
			</div>
			<div class="col s12 m6 l6">
			    <div class="card">
			    		<div class="card-image waves-effect waves-block waves-light">
			      			<img class="activator" src="{% static 'imagenes/portafolio4.png'%}">
			    		</div>
			    	<div class="card-content">
			      		<span class="card-title activator grey-text text-darken-4">Gestor de Tareas en Js(Demo)<i class="material-icons right">more_vert</i></span>
			      		<p><a target="_blank" href="https://github.com/Tekorita/AplicacionJs">https://github.com/Tekorita/AplicacionJs</a></p>
			    	</div>
			    	<div class="card-reveal">
			      		<span class="card-title grey-text text-darken-4">Gestor de Tareas en Js<i class="material-icons right">close</i></span>
			      		<p>Here is some more information about this product that is only revealed once clicked on.</p>
			    	</div>
			  	</div>
			</div>
			<div class="col s12 m6 l6">
			    <div class="card">
			    		<div class="card-image waves-effect waves-block waves-light">
			      			<img class="activator" src="{% static 'imagenes/portafolio5.png'%}">
			    		</div>
			    	<div class="card-content">
			      		<span class="card-title activator grey-text text-darken-4">Pagina con Flexbox(Demo)<i class="material-icons right">more_vert</i></span>
			      		<p><a target="_blank" href="https://github.com/Tekorita/PaginaconFlexbox">https://github.com/Tekorita/PaginaconFlexbox</a></p>
			    	</div>
			    	<div class="card-reveal">
			      		<span class="card-title grey-text text-darken-4">Gestor de Tareas en Js<i class="material-icons right">close</i></span>
			      		<p>Here is some more information about this product that is only revealed once clicked on.</p>
			    	</div>
			  	</div>
			</div>    
		</div>
	</div>
</div>
{% endblock %}