<div id="recomendaciones" class="section scrollspy">
	<div class="container-fluid">
		<div class="row">			            
			<div class="col s12 m12 l12">		    		
				<div class="col s12 m12 l12 center wow slideInRight" data-wow-duration="1.4s">
					<h1>hola vale</h1>
				</div>
				<h6>		    		
				<p class="white-text center wow slideInLeft aumenta" data-wow-duration="1.4s" data-wow-delay="0.2s">        	
					<h2>Recomendaciones</h2>			        	
				</p>
				</h6>
			</div>
		</div>   
	</div>
</div>

<!--

Daniela Moros
David es un chico muy dedicado con su trabajo, hasta que no obtiene lo que desea, no está a gusto. Además es muy proactivo y responsable. Maneja de forma amplia los lenguajes de programación lo que se junta con su creatividad, generando proyectos muy auténticos. Lo recomiendo al 100%.  

Henry Santiago
David es un profesional destacado por ser autodidacta, proactivo y con conocimientos avanzados en la programación de software, se desempeña muy bien en labores bajo presión, es muy comunicativo para con su equipo de trabajo y con cualquier cliente, siendo además muy detallista en la calidad y la implementación de buenas prácticas en sus entregas, del mismo modo es muy participativo en la elaboración y planificación de esquemas de trabajo, teniendo habilidades innatas de coordinación y liderazgo dentro de un equipo.

Geraldine
David es un excelente programador, comprometido, responsable, sabe escuchar y siempre aporta excelentes ideas para los desarrollos!! ...a parte un compañero ejemplar, siempre dispuesto a colaborar y enseñar.

Carlos
Hola, conozco al Sr David Palma, tuve oportunidad de ver su trabajo, un sistema para clínicas, y de trabajar con el en Beeinfluencer,  tiene creatividad, es buen progrador. Responsable y comprometido. Saludos.

Ricaute
A David lo conozco desde niños y siempre se ha caracterizado por ser una persona muy aplicada a todo lo que hace, cómo profesional hemos compartido en varias ocasiones y sigue siendo una persona implacable hasta lograr sus proyectos.

Ivan
David es una persona responsable, que es muy dedicado a su trabajo. Se adapta muy bien al trabajo en equipo

-->