{% load static %}
{% block content %}

<div id="referencias" class="section scrollspy">
    <div class="container-fluid">
        <div class="row">                        
            <div class="col s12 m12 l12">                    
                <h1 style="color: black;" class="center">Referencias</h1>
                <br>
                <p style="color: #546e7a;" class="center wow fadeIn aumenta" data-wow-duration="1.4s" data-wow-delay="0.2s">        	
					Más allá del código, lo más valioso ha sido la gente con la que he trabajado. A lo largo de este tiempo, he hecho grandes amigos y he compartido experiencias con colegas que han enriquecido mi camino. Desde largas sesiones de debugging hasta la satisfacción de ver un sistema en producción funcionando perfectamente, cada momento ha sido una lección.

Estoy agradecido por cada mentor, compañero y equipo con el que he colaborado. Cada línea de código escrita, cada reunión y cada solución implementada han sido parte de mi crecimiento. Y aunque el aprendizaje nunca termina, miro hacia adelante con entusiasmo, listo para seguir enfrentando nuevos retos y seguir construyendo junto a otros apasionados por la tecnología.			        	
				</p>
                <br>
                <!-- Carrusel de MaterializeCSS -->
                <div class="carousel wow fadeIn" data-wow-duration="1.4s" data-wow-delay="0.6s">
                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/IvoKovacevic.jpeg' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Ivo Kovacevic</h3>
                                        <h5 class="position-title">CEO de Abaqus</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/ivo-kovacevic-a7447333/"></i>
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    Durante el periodo en que David trabajó con nosotros en Abaqus ha demostrado ser una persona 
                                    comprometida y constante con el desarrollo y mantenimiento de los proyectos en los que estuvo involucrado. 
                                    David también mostró buena atención con nuestros clientes, manteniendo siempre una interacción altamente profesional.
                                </p>
                            </div>
                        </div>
                    </a>
                    
                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/SergioNeira.jpeg' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Sergio Neira LLanes</h3>
                                        <h5 class="position-title">Jefe de Proyectos TI en Tech-K</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/sergio-neira-3460265b/"></i>
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    David es una persona comprometida con la empresa en la que se encuentra. Es de esas personas que siempre va a estar dispuesto a ayudar a resolver algo sin importar la hora que sea. Si tuviera que elegir un compañero de trabajo confiable sería él. Otro rol destable es la buena disposición y paciencia para transmitir el conocimiento que tiene. Sin duda es una persona que cualquier empresa quisiera tener en su equipo.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/FranciscoMartinez.jpeg' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Francisco Martínez</h3>
                                        <h5 class="position-title">AWS Solutions Architect | Tech Lead | Project Manager en Abaqus</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/francisco-martinez-rod/"></i>
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    He trabajado junto a David en múltiples proyectos, donde ha demostrado ser un desarrollador competente y comprometido. Su capacidad para resolver problemas y optimizar el rendimiento de las aplicaciones ha sido clave para el éxito de nuestros desarrollos. Además, su actitud colaborativa y disposición lo convierten en un gran aporte a cualquier equipo.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/Antonio-Aguilar.png' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Antonio Aguilar</h3>
                                        <h5 class="position-title">Senior Developer | Project Manager en Abaqus</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/antonio-aguilar-6b84072a/"></i>
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    David es un excelente profesional, dedicado y comprometido en cada proyecto en el cual se involucra, con grandes habilidades para el trabajo en equipo, resolución de problemas y colaboración con sus pares. Sin duda es alguien que puedo recomendar como programador.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/RichardLeMay.jpeg' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Richard Le May</h3>
                                        <h5 class="position-title">Software Enginer I en Abaqus</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/richard-le-may/"></i>
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    Para mi fue un gusto trabajar con David, nos entendíamos muy bien cuando planificábamos las tareas en los proyectos donde trabajábamos juntos y tuvimos que llevar a cabo muchas tareas a nivel de frontend donde David siempre estaba atento a los detalles, también fue de gran ayuda en mis inicios cuando el me hizo las inducciones de algunos proyectos, siempre estaba a la orden ante cualquier duda o problema que yo tenía, por eso es alguien que puedo recomendar con confianza.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/JuanManuel.jpeg' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Juan Manuel Arvelo</h3>
                                        <h5 class="position-title">Analista en red conmutación RAN y EPC en Movilnet</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/juan-manuel-arvelo-lugo-88b1a31b2/"></i>
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    En la trayectoria que tuve en Xirox systems fue un placer haber trabajado con David, nos entendíamos muy bien y hemos podido resolver todos los desafíos que se presentaban con los bugs en el sistema, por otro lado David fue bastante organizado y metódico para realizar las tareas que planificábamos en conjunto, lo recomiendo sin duda!
                                </p>
                            </div>
                        </div>
                    </a>

                    <a class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <div class="avatar-container">
                                    <img class="responsive-img circle z-depth-5 animated zoomIn delay-1s img-large" src="{% static 'imagenes/HenrySantiago.jpeg' %}">
                                    <div class="text-container">
                                        <h3 class="name-title">Henry Santiago</h3>
                                        <h5 class="position-title">Líder de Desarrollo en DBAccess</h5>
                                        <i class="icon ion-logo-linkedin linkedin-icon" data-linkedin="https://www.linkedin.com/in/henryssantiago//"></i>       
                                    </div>
                                </div>
                                <br><br>
                                <p style="color: #607d8b;">
                                    David es un profesional destacado por ser autodidacta, proactivo y con conocimientos avanzados en la programación de software, se desempeña muy bien en labores bajo presión, es muy comunicativo para con su equipo de trabajo y con cualquier cliente, siendo además muy detallista en la calidad y la implementación de buenas prácticas en sus entregas, del mismo modo es muy participativo en la elaboración y planificación de esquemas de trabajo, teniendo habilidades innatas de coordinación y liderazgo dentro de un equipo.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <br><br>
            </div>
        </div>   
    </div>           
</div>

{% endblock %}
