{% load staticfiles %}
{% block content %}
<div id="skills" class="section scrollspy">
	<div class="container-fluid">
		<div class="row white-text">
			<div class="col s12 m12 l12 center">
				<img class="responsive-img" src="{% static 'imagenes/skills1.png'%}">
			</div>	
			<div class="col s12 m6 l3">
			    <h4>Fronted</h4>  
			        <ul>
			        	<li>Html5</li>
			        	<li>CSS3</li>
			        	<li>JS</li>
			        	<li>Saas</li>
			        </ul>	
			</div>
			<div class="col s12 m6 l3">
			    <h4>Backend</h4>    
			        <ul>
			        	<li>Python</li>
			        	<li>Django</li>
			        	<li>PHP</li>
			        	<li>Laravel</li>
			        	<li>Visual Basic</li>
			        	<li>Java</li>
			        </ul>
			</div>
			<div class="col s12 m6 l3">
			    <h4>Base de Datos</h4>  
			        <ul>
			        	<li>MySQL</li>
			        	<li>PostGres</li>
			        </ul>
			</div>
			<div class="col s12 m6 l3">
			    <h4>Gestor de Versiones</h4>  
			        <ul>
			        	<li>Git</li>
			        	<li>GitHub</li>
			        </ul>
			</div>    
		</div>
	</div>		
</div>
{% endblock %}