{% load static %}
{% block content %}
<div id="sobremi" class="section scrollspy">
	<div class="container-fluid">
		<div class="row">
			<div class="col s12 m12 l12 center wow fadeInUp" data-wow-duration="1.4s">
				<img class="responsive-img" src="{% static 'imagenes/sobremi1.png'%}">
			</div>
			<div class="col s12 m12 l12 white-text wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.3s">
		        <ul id="tabs-swipe-demo" class="tabs red lighten-1">
				    <li class="tab col s3"><a href="#test-swipe-1" class="active white-text waves-effect waves-block waves-light">Quién Soy</a></li>
				    <li class="tab col s3"><a href="#test-swipe-2" class="white-text waves-effect waves-block waves-light">En que ando</a></li>
				    <li class="tab col s3"><a href="#test-swipe-3" class="white-text waves-effect waves-block waves-light">Formación</a></li>
				</ul>
				<div id="test-swipe-1" class="col s12 red lighten-1">
				  	<p>
			        	Hola, me llamo David Palma, vivo en Caracas, Venezuela y soy programador web full-stack. Disfruto implementando nuevos estándares en diseño y maquetación, además de explorar tecnologías, herramientas y frameworks que optimicen el desarrollo de proyectos.
					</p>
					<p>
						Tras finalizar mis estudios en Ingeniería en Informática en Venezuela, fundé junto a un amigo de la universidad mi propia empresa, Xirox Systems C.A., donde desarrollábamos sistemas administrativos para clínicas y ofrecíamos servicios de soporte técnico durante 6 años, sin embargo, debido a la difícil situación en Venezuela, decidí emigrar.
					</p>
					<p>
						Mi primera parada fue Perú, donde comencé mi carrera como practicante en programación con Python durante unos meses, luego me trasladé a Chile, donde por 6 años adquirí experiencia como programador backend, realizando scraping de portales de ventas, y posteriormente trabajé como frontend, enfocándome en el diseño y mantención de proyectos internos. Esto me permitió consolidarme como un programador full-stack.
					</p>
					<p>
						Me considero una persona proactiva, empática y con facilidad para trabajar en equipo, cualidades que he desarrollado colaborando con profesionales de diversas culturas y entornos.
					</p>
				</div>
				<div id="test-swipe-2" class="col s12 red lighten-1">
					<p>
						Actualmente me encuentro estudiando en Platzi, donde estoy desarrollando mis habilidades en áreas clave como estructuras de datos lineales con Python, fundamentos de arquitectura de software y principios y herramientas de inteligencia artificial. Este proceso de aprendizaje constante me permite fortalecer mi perfil profesional y mantenerme actualizado con las últimas tendencias tecnológicas.
					</p>
				</div>
				<div id="test-swipe-3" class="col s12 red lighten-1">
					<div class="col s12 m6 l6">
						<h4>Técnico Superior en Informática</h4>
						<p>
							<h6>
								Instituto Universitario de Tecnología Dr Federico Rivero Palacio (IUTE), Caracas Venezuela (2008-2011)
							</h6>
						</p>
						<h4>Ingeniería en Informática</h4>
						<p>
							<h6>
								Instituto Universitario de Tecnología Dr Federico Rivero Palacio (IUTE), Caracas Venezuela (2011-2014)
							</h6>
						</p>
					</div>
					<div class="contenedor-formacion">
						<div class="col s12 m6 l6">
							<img class="responsive-img circle" src="{% static 'imagenes/graduacion.jpg'%}">
						</div>
					</div>

				</div>
	    	</div>
		</div>
	</div>
</div>
{% endblock %}
